name: pull_request_ci
on: pull_request
jobs:
  lint-unit-tests:
    name: Lint + Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          channel: 'stable'
      - name: Install packages
        run:
          flutter pub get
      # - name: Lint
      #   run: 
      #     flutter analyze
      - name: Unit tests
        run:
          flutter test
  # build-Android:
  #   name: Build Android
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v1
  #     - uses: actions/setup-java@v1
  #       with:
  #         java-version: '12.x'
  #     - uses: subosito/flutter-action@v1
  #       with:
  #         flutter-version: '1.12.13+hotfix.5'
  #         channel: 'stable'
  #     - name: Build apk
  #       run:
  #         flutter build apk --release --split-per-abi
  # build-iOS:
  #   name: Build iOS
  #   runs-on: macOS-latest
  #   steps:
  #     - uses: actions/checkout@v1
  #     - uses: actions/setup-java@v1
  #       with:
  #         java-version: '12.x'
  #     - uses: subosito/flutter-action@v1
  #       with:
  #         flutter-version: '1.12.13+hotfix.5'
  #         channel: 'stable'
  #     - name: Build ipa
  #       run:
  #         flutter build ios --release --no-codesign
